@model GorevAtama.Models.TBL_GOREV

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<style>
    .form-horizontal {
        margin-left: 0px !important;
    }

    .form-group {
        margin-left: 0px !important;
    }
</style>


<div class="form-horizontal">
    <h3>Silmek İstediğinizden Emin misiniz?</h3>
    <div class="form-group">
        <div class="col-md-1">
            <label>AD:</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.AD, new { htmlAttributes = new { @class = "form-control" } })
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-1">
            <label>ZORLUK:</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.ZORLUK, new { htmlAttributes = new { @class = "form-control" } })
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-1">
            <label>PERSONEL:</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TBL_PERSONEL.AD, new { htmlAttributes = new { @class = "form-control" } })
        </div>

    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a class="btn btn-primary" href="/Gorev/Index/">Geri Dön</a>
    </div>
}

